@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* dark mode elements */
  --color-blue-1: hsl(209, 23%, 22%);

  /* dark mode background */
  --color-blue-2: hsl(207, 26%, 17%);

  /* light mode text */
  --color-gray-1: hsl(200, 15%, 8%);

  /* light mode input */
  --color-gray-2: hsl(0, 0%, 52%);

  /* light mode background */
  --color-gray-3: hsl(0, 0%, 98%);

  /* dark mode text & light mode elements */
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--color-gray-3);
}

select {
  appearance: none;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.spinner {
  margin: 4.8rem auto;

  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #4f46e5 94%, #0000) top/10px 10px no-repeat,
    conic-gradient(#0000 30%, #4f46e5);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);

  animation: rotate 1.5s infinite linear;
}
